* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

.main-content {
  background-color: #374151;
  height: 80vh;
  width: 40vw;
  border-radius: 10px;
  box-shadow: -20px 20px 89px -1px rgba(0, 0, 0, 0.86);
  -webkit-box-shadow: -20px 20px 89px -1px rgba(0, 0, 0, 0.86);
  -moz-box-shadow: -20px 20px 89px -1px rgba(0, 0, 0, 0.86);
  display: grid;
  grid-template-rows: 2fr 1fr 0.5fr 10fr;
  grid-template-areas:
    "title"
    "add-button"
    "content-top"
    "content";
}

.main-content-finished {
  background-color: #374151;
  height: 80vh;
  width: 40vw;
  border-radius: 10px;
  box-shadow: -20px 20px 89px -1px rgba(0, 0, 0, 0.86);
  -webkit-box-shadow: -20px 20px 89px -1px rgba(0, 0, 0, 0.86);
  -moz-box-shadow: -20px 20px 89px -1px rgba(0, 0, 0, 0.86);
  display: grid;
  grid-template-rows: 2fr 1fr 0.5fr 10fr;
  grid-template-areas:
    "title"
    "add-button"
    "content-top"
    "content-done";
}

.loading-error {
  margin-top: 110px;
}

.title {
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h2 {
  margin-top: 20px;
  color: aliceblue;
}

.title-finished {
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-finished h2 {
  margin-top: 20px;
  color: #374151;
}

.add-button {
  /* background-color: orange; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.add-button button {
  margin-right: 20px;
  margin-bottom: 10px;
}

.button-modal-add {
  margin-left: 193px;
}

.content-top {
  background-color: #374151;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.content {
  /* background-color: salmon; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  overflow-y: scroll;
}

.content-done {
  /* background-color: salmon; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  overflow-y: scroll;
}

.content h2 {
  color: white;
}

.card-todo {
  margin-top: 20px;
  width: 90%;
  height: 50px;
  /* margin: 10px; */
  cursor: pointer;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: -1px 5px 69px -19px rgba(255, 255, 255, 0.86);
  -webkit-box-shadow: -1px 5px 69px -19px rgba(255, 255, 255, 0.86);
  -moz-box-shadow: -1px 5px 69px -19px rgba(255, 255, 255, 0.86);
  display: grid;
  grid-template-columns: 1fr 5fr 5fr;
  grid-template-areas: "id-todo title-todo desc-todo";
}

.card-todo-done {
  margin-top: 20px;
  width: 90%;
  height: 50px;
  /* margin: 10px; */
  cursor: pointer;
  background-color: #6b7280;
  border-radius: 10px;
  box-shadow: 0px 5px 17px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 17px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 17px -3px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 1fr 5fr 5fr;
  grid-template-areas: "id-todo title-todo desc-todo";
}

.card-todo-top {
  width: 90%;
  height: 50px;
  /* margin: 10px; */
  cursor: pointer;
  /* background-color: white; */
  display: grid;
  grid-template-columns: 1fr 5fr 5fr;
  grid-template-areas: "id-todo title-todo desc-todo";
}

.card-todo:hover {
  background-color: #d1d5db;
}

.card-todo-done:hover {
  background-color: #1f2937;
}

.id-todo {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.id-todo span {
  background-color: slategray;
  padding: 2px 10px;
  border-radius: 30%;
  color: white;
}

.id-todo-done {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.id-todo-done span {
  background-color: white;
  padding: 2px 10px;
  border-radius: 30%;
  color: #1f2937;
}

.title-todo {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.desc-todo {
  /* background-color: salmon; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.title-todo-done {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.desc-todo-done {
  /* background-color: salmon; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.title-todo-done span {
  color: white;
}

.desc-todo-done span {
  color: white;
}

.id-todo-top {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.id-todo-top span {
  color: white;
}

.title-todo-top {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-todo-top span {
  color: white;
}

.desc-todo-top {
  /* background-color: salmon; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc-todo-top span {
  color: white;
}

.main-content-finished {
  background-color: #e5e7eb;
  height: 80vh;
  width: 40vw;
  border-radius: 10px;
  box-shadow: -20px 20px 89px -1px rgba(0, 0, 0, 0.86);
  -webkit-box-shadow: -20px 20px 89px -1px rgba(0, 0, 0, 0.86);
  -moz-box-shadow: -20px 20px 89px -1px rgba(0, 0, 0, 0.86);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(-45deg, #23a6d5, #23d5ab, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
